<?xml version="1.0" encoding="UTF-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<beans	xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="amqp.spring.camel.component"/>

    <camelContext id="context" xmlns="http://camel.apache.org/schema/spring">
        <jmxAgent id="agent" createConnector="false" disabled="true"/>
        <template id="template"/>

        <route>
            <from uri="direct:stepOne"/>
            <to uri="spring-amqp:myExchange:test.m?type=direct&amp;durable=false&amp;autodelete=true&amp;exclusive=false"/>
        </route>
        
        <route>
            <from uri="spring-amqp:myExchange:myQueue:test.m?type=direct&amp;durable=false&amp;autodelete=true&amp;exclusive=false"/>
            <to uri="mock:testOne"/>
        </route>

        <route>
            <from uri="direct:stepTwo"/>
            <to uri="spring-amqp:magicExchange?type=headers&amp;durable=false&amp;autodelete=true&amp;exclusive=false"/>
        </route>
        
        <route>
            <from uri="spring-amqp:magicExchange:mysteryQ:key1=value1&amp;key2=value2?type=headers&amp;durable=false&amp;autodelete=true&amp;exclusive=false"/>
            <to uri="mock:testTwo"/>
        </route>
        
        <route>
            <from uri="direct:stepThree"/>
            <to uri="spring-amqp:testRequest:test.n?durable=false&amp;autodelete=true&amp;exclusive=false"/>
        </route>
        
        <route>
            <from uri="spring-amqp:testRequest:testReply:test.n?durable=false&amp;autodelete=true&amp;exclusive=false"/>
            <to uri="bean:testThree"/>
        </route>
    </camelContext>
    
    <bean id="testThree" class="amqp.spring.camel.component.SpringXMLTest"/>
    
    <bean id="jsonMessageConverter" class="amqp.spring.converter.XStreamConverter"/>
    <bean id="textMessageConverter" class="amqp.spring.converter.StringConverter"/>
    <bean id="messageConverter" class="amqp.spring.converter.ContentTypeConverterFactory">
        <property name="converters">
            <map>
                <entry key="application/json" value-ref="jsonMessageConverter"/>
                <entry key="application/xml" value-ref="textMessageConverter"/>
            </map>
        </property>
        <property name="fallbackConverter" ref="textMessageConverter"/>
    </bean>
    
    <rabbit:connection-factory id="connectionFactory"/>
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" message-converter="messageConverter" reply-timeout="60000"/>
    <rabbit:admin connection-factory="connectionFactory"/>
</beans>
